.footer 
    .footer_box
        .footer_follow
            a(class='button' href='//instagram.com')
                h3 Följ oss
                p Instagram
        .footer_about
            a(class='button' href='/about')
                h3 Om oss
                p about us
        .footer_prices
            a(class='button' href='//google.com')
                h3 Hitta oss
                p Our location 
        .footer_contact
            a(class='button' href='//google.com') 
                h3 Kontakt
                p Tel: 123 45 67
    .footer_ma
        p &copy; 2024 Web development & design by STUDIO B
    
