.footer 
    .footer_box
        .footer_link
            a(class='button' href='https://www.instagram.com/salongtanova?igsh=MTJ1cjRpZWo0dmUzcw==')
                h3 Följ oss
                p Instagram
        .footer_link
            a(class='button' href='/about')
                h3 Om oss
                p about us
        .footer_link
            a(class='button' href='https://www.google.com/maps/place/Regementsgatan+58,+217+51+Malmö/@55.5985142,12.9819025,19.75z/data=!4m6!3m5!1s0x4653a6ac7c9efa69:0x3ddb2543336e82b9!8m2!3d55.5984902!4d12.9819711!16s%2Fg%2F11c28vqjc1?entry=ttu')
                h3 Hitta oss
                p Our location 
        .footer_link
            a(class='button' href='tel:040420045') 
                h3 Kontakt
                p Tel: 040420045
    .footer_ma
        p &copy; 2024 Web development & design by STUDIO B

