.navigation
  .navigation_wrapper
    ul.nav-links
      li
        a.menu-link.title(href='/') Hem
      li
        a.menu-link.title(href='/about') Om oss
      li
        a.menu-link.title(href='/prices') Priser
      li
        a.menu-link.title(href='/contact') Kontakt
button#burger.burger-menu
  span.menu-icon
  span.menu-icon
  span.menu-icon





