header.navbar
  .logo
    img(src="../logo/st_logo.png", alt="Logo")
  nav.nav-links
    ul
      li
        a(href="#") Home
      li
        a(href="/about") About
      li
        a(href="/prices") Prices
      li
        a(href="/contact") Contact
  button.burger-menu(type="button")
    span.menu-icon
    span.menu-icon
    span.menu-icon



