.navigation
  .navigation_wrapper
    ul.nav-links
      li
        a.menu-link.title(href='/') Home
      li
        a.menu-link.title(href='/about') About
      li
        a.menu-link.title(href='/prices') Prices
      li
        a.menu-link.title(href='/contact') Contact
button#burger.burger-menu
  span.menu-icon
  span.menu-icon
  span.menu-icon





