.preloader 
    p.preloader_title
       br.
       | The surprise of what is possible 
       br.
       | to make you feel beautiful 
       br.
       | is the secret of your hairdresser.                                       
    
    .preloader_number
        .preloader_number_text 0%