.footer {
  @extend %flex-column;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4rem;
  background-color: $color-woodsmoke;
  color: $color-rose-white;
  z-index: 100;
}

.footer_box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.footer_link {
  @extend %flex-column;
  flex: 1;
  align-items: center;
}

.footer_box .button {
  text-decoration: none;
  color: $color-rose-white;
  text-align: center;
  padding: 1rem 2rem;
  border: 1px solid $color-bright-gray;
  min-width: 200px;
  box-sizing: border-box;

  h3 {
    color: $color-rose-white;
    font-size: smaller;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  p {
    font-size: small;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.footer_box .button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer_ma {
  width: 100%;
  border-top: 1px $color-alizarin-crimson solid;
  text-align: center;

  p {
    font-size: small;
  }
}

@media only screen and (max-width: 1024px) {
  .footer {
    padding: 0rem 2rem;
  }

  .footer_box {
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .footer_link {
    margin-bottom: 2rem;
  }

  .footer_box .button {
    width: 100%;
  }
}
