body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  background-color: $color-spring-wood;
  color: $color-woodsmoke;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5rem 1.5rem 1.5rem;
  width: 100%;
  height: 64px;
}

.logo img {
  height: 3rem; //replaced 50px
  width: auto;
  padding-top: 0.5rem; // added

  @include media('<phone') {
    // added
    height: 8rem;
  }
}

.nav-links {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-links.nav-active {
  display: flex;
}

.nav-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 40px;
  padding-right: 40px;
  opacity: 0;
  transform: translateX(100%);
  animation: navItemFade 0.5s ease forwards;
}

.nav-links.nav-active li {
  animation-delay: calc(0.2s * (var(--index) + 1));
}

.nav-links li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  color: inherit;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links li a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: $color-alizarin-crimson;
  transition: width 0.3s ease;
}

.nav-links li a:hover::before {
  width: 100%;
}

.burger-menu {
  @extend %flex-column;
  cursor: pointer;
  background-color: $color-spring-wood;
  border: none;
}

.menu-icon {
  background-color: $color-alizarin-crimson;
  height: 1px;
  width: 25px;
  margin: 3px 0;
  transition: all 0.3s ease;
}

.burger-menu.cross .menu-icon:nth-child(1),
.burger-menu.cross .menu-icon:nth-child(3) {
  transform: rotate(45deg);
}

.burger-menu.cross .menu-icon:nth-child(2) {
  opacity: 0;
}

.burger-menu.cross .menu-icon:nth-child(1) {
  transform-origin: center;
  transform: translateY(7px) rotate(45deg);
}

.burger-menu.cross .menu-icon:nth-child(3) {
  transform-origin: center;
  transform: translateY(-7px) rotate(-45deg);
}

@keyframes navItemFade {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Media query for tablets */
@media (max-width: 1024px) {
  .nav-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $color-spring-wood;
    opacity: 0.8;
    padding-top: 80px;
    z-index: 999;
    overflow-y: auto;
  }

  .nav-links.nav-active {
    display: flex;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .nav-links li {
    margin-bottom: 40px;
    opacity: 0;
    transform: translateY(-20px);
    animation: navItemFade 0.5s ease forwards;
    // font-size: 18px;
  }

  .nav-links.nav-active li {
    animation-delay: calc(0.2s * (var(--index) + 1));
    transform: translateY(0);
  }

  .nav-links li a {
    text-decoration: none;
    color: inherit;
    position: relative;
    font-size: 3rem; // added replaced 18px
    transition: color 0.3s ease;
  }

  .nav-links li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $color-alizarin-crimson;
    transition: width 0.3s ease;
  }

  .nav-links li a:hover::before {
    width: 100%;
  }

  .burger-menu {
    @extend %flex-column;
    cursor: pointer;
    background-color: $color-spring-wood;
    border: none;
    z-index: 1000;
  }

  .burger-menu .menu-icon {
    background-color: $color-alizarin-crimson;
    height: 1px;
    width: 25px;
    margin: 3px 0;
    transition: all 0.3s ease;
  }

  .burger-menu.cross .menu-icon:nth-child(1),
  .burger-menu.cross .menu-icon:nth-child(3) {
    transform: rotate(45deg);
  }

  .burger-menu.cross .menu-icon:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.cross .menu-icon:nth-child(1) {
    transform-origin: center;
    transform: translateY(7px) rotate(45deg);
  }

  .burger-menu.cross .menu-icon:nth-child(3) {
    transform-origin: center;
    transform: translateY(-7px) rotate(-45deg);
  }
}
