body {
  margin: 0;
  padding: 0;
}

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: auto;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.navigation_wrapper {
  display: flex;
  position: relative;
  width: 50%;
  height: 100%;
  align-items: center;
  overflow-x: hidden;
  transition-delay: 0.1s;
  background-color: $color-spring-wood;
  z-index: 1000;
}

.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  padding-left: 10%;

  li {
    width: fit-content;
    overflow: hidden;
  }
}

.menu-link {
  font-size: 3.5rem;
  display: inline-block;
  transform: translateY(0);

  &:hover {
    color: white;
    -webkit-text-fill-color: rgba(224, 47, 47, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $color-alizarin-crimson;
  }
}

button[id='burger'] {
  position: absolute;
  background-color: transparent;
  top: 20px;
  right: 20px;
  border: none;
  z-index: 1000;
  cursor: pointer;
}

.burger-menu span {
  display: block;
  width: 25px;
  height: 1px;
  margin: 5px;
  background-color: $color-alizarin-crimson;
  transition: 0.4s;
}

.burger-menu.cross .menu-icon:nth-child(1),
.burger-menu.cross .menu-icon:nth-child(3) {
  transform: rotate(45deg);
}

.burger-menu.cross .menu-icon:nth-child(2) {
  opacity: 0;
}

.burger-menu.cross .menu-icon:nth-child(1) {
  transform-origin: center;
  transform: translateY(6px) rotate(45deg);
}

.burger-menu.cross .menu-icon:nth-child(3) {
  transform-origin: center;
  transform: translateY(-6px) rotate(-45deg);
}

@include media('<phone') {
  .navigation_wrapper {
    width: 100%;

    .nav-links {
      align-items: center;
      text-align: center;
      padding-left: 0;
    }

    .menu-link {
      font-size: 5rem;
      padding: 2rem;
    }
  }
}
