.about {
  @extend %cover;
  align-items: center;

  &_wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 4rem 8rem;

    @include media('<phone') {
      padding: 3rem 1rem;
    }
  }

  &_title {
    @extend %title-30;
    padding: 2rem;
    text-align: center;
    background-color: #e0dddd;
    border-top: 3px solid #eab74c;
    border-left: 3px solid #eab74c;
    border-right: 3px solid #eab74c;

    @include media('<phone') {
      text-align: center;
      padding: 1rem;
      font-size: 5.2rem;
    }
  }

  &_subtitle {
    @extend %title-10;
    padding: 2rem;
    text-align: center;
    background-color: #e0dddd;
    border-bottom: 3px solid #eab74c;
    border-left: 3px solid #eab74c;
    border-right: 3px solid #eab74c;

    @include media('<phone') {
      text-align: center;
      margin-bottom: 3rem;
      padding: 2rem, 1rem;
      font-size: 2.5rem;
    }
  }

  &_text {
    @extend %title-10;
    padding: 2rem;
    text-align: center;
    background-color: #e0dddd;
    border: 3px solid #eab74c;

    @include media('<phone') {
      text-align: center;
      padding: 1rem;
      font-size: 2.5rem;
      margin-bottom: 3rem;
    }
  }

  &_content {
    @extend %center;
    display: flex;
    margin: 1rem 0;

    @include media('<phone') {
      flex-direction: column;
      align-items: center;
    }

    &--left,
    &--right {
      .about_image,
      .about_text_img {
        width: 45%;
        padding: 2rem;
      }

      @include media('<phone') {
        .about_image,
        .about_text_img {
          width: 100%;
          margin-top: 3rem;
          margin-bottom: 3rem;
          text-align: center;
          padding: 1rem;
          order: 1;
        }
      }
    }

    &--left {
      .about_image {
        order: 1;

        @include media('<phone') {
          order: 2;
        }
      }

      .about_text_img {
        order: 2;
        @extend %title-10;
        // padding-left: 4rem;

        @include media('<phone') {
          // order: 1;
          font-size: 2.5rem;
        }
      }
    }

    &--right {
      .about_image {
        order: 2;

        @include media('<phone') {
          order: 1;
        }
      }

      .about_text_img {
        order: 1;
        @extend %title-10;
        // padding-right: 4rem;

        @include media('<phone') {
          order: 2;
          font-size: 2.5rem;
        }
      }
    }
  }

  img {
    width: 80%;
    height: auto;

    @include media('<phone') {
      width: 100%;
    }
  }
}
