.preloader {
  // @extend %center;
  // @extend %cover;

  align-items: center;
  justify-content: center;
  // display: flex;
  display: none;
  background: $color-woodsmoke;
  color: $color-quarter-spanish-white;
  text-align: center;
  z-index: z('preloader');
}

.preloader_text {
  font-size: 2rem;
  max-width: 66rem;
  font-family: $font-suisse-bp, Calibri; // not working check!!!
  // font-weight: 100;
  line-height: 2.5rem;

  span {
    display: inline-block;
    overflow: hidden;
  }

  span span {
    // @extend %title-53;
  }
}

.preloader_number {
  // @extend %description-14;
  position: absolute;
  // overflow: hidden;
  bottom: 10rem;
  left: 50%;
  font-size: 2rem; // delete
  transform: translateX(-50%);
  font-family: Calibri;
  font-weight: 100;

  // @include media('<phone') {
  //     font-size: 2.4rem;
  // }
}

// .preloader_number_text {
//     display: inline-block;

// }
