%cover {
  display: flex;
  flex-direction: column;
}

%center {
  justify-content: center;
  align-items: center;
  position: relative;
}

%mixins {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
