$color-contessa: #c97164;
$color-quicksand: #bc978c;
$color-quarter-spanish-white: #e6e6e6; //#F9F1E7;
$color-cadet-blue: #b2b8c3;
$color-bright-gray: #37384c;
$color-woodsmoke: #0d0d0d;

$font-george-x: 'George X';
$font-suisse-bp: 'Suisse BP';

// $ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-cubic: ease;

$z-indexes: ('preloader', 'navigation', 'canvas', 'content');
