$color-rose-white: #fffafa;
$color-spring-wood: #fffafa;
// $color-spring-wood: #f8f6f1; // original
$color-quarter-spanish-white: #e6e6e6; //#F9F1E7;
$color-cadet-blue: #b2b8c3;
$color-bright-gray: #37384c;
$color-woodsmoke: #0d0d0d;
$color-alizarin-crimson: #e25465;
// $color-alizarin-crimson: #e32636; // original
$color-mandy: #e25465;
$color-saddle: #4c3525;

$font-raleway: 'Raleway';

// $ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-out-cubic: ease;

$z-indexes: ('preloader', 'navigation', 'canvas', 'content');
