extends ../index.pug

block variables
  - var template = 'contact'

block content

  .contact(data-background="#fffafa" data-color="#0d0d0d")
    .container
      .contact_wrapper
        section.contact_section
          .contact_logo
            img.img_shop.img_wrap(data-animation="image" data-src="logo/logo_large.png", alt="large image")
            .container_wrapper
              .container_left
                .imgText.lcol-1
                  .box-1
                    img(data-animation="image" data-src="images/frisor.jpg", alt="image")
                  .box-2
                    p(data-animation="paragraph")
                      | Frisörsalong i Slottsstaden: Unna dig en hårvårdsbehandling! <br>
                      | Letar du efter en frisörsalong i Slottsstaden som erbjuder professionella hårvårdsbehandlingar i en avslappnad och lyxig miljö? 
                      | Då har du hittat rätt! Hos oss kan du unna dig allt från en enkel klippning till en fullständig makeover, 
                      | med fokus på dina individuella behov och önskemål.
                  .box-3
                    img.img_wrap(data-animation="image" data-src="images/shop2.jpg", alt="image")
                  .box-4
                    img.img_wrap(data-animation="image" data-src="map/st_map.png", alt="image")
              .container_right
                .imgText.rcol-2
                  .box-5
                    img.img_wrap(data-animation="image" data-src="images/shop5.jpg", alt="image")
                  .box-6
                    video.img_wrap(data-animation="image" data-src="videos/tanova.mp4", type="video/mp4", muted, loop)
                      | Your browser does not support the video tag.
                  .box-7
                    p(data-animation="paragraph")
                      | Välkommen till Salong Tanova, <br>
                      | beläget på en av Malmös mest charmiga gator i hjärtat av Slottstaden. 
                      | <br>
                      | Vår frisörsalong på Regementsgatan 58 är inte bara en destination för fantastiska hårvårdsbehandlingar, 
                      | utan också en oas av skönhet och avkoppling mitt i denna livfulla stadsdel.
                      | På vår mysiga gata omges du av charmiga byggnader och Malmös bästa cafén. 
                      | Medan du promenerar till vår salong kan du njuta av den lokala kulturen och atmosfären som Slottstaden har att erbjuda.
                      | Vi är bekvämt belägna längs denna livliga gata, bara en kort promenad från närliggande busstationer. 
                      | För de som använder bil finns det gott om parkeringsmöjligheter.
      .footer 
        .footer_box
            .footer_link
                a(class='button' href='https://www.instagram.com/salongtanova?igsh=MTJ1cjRpZWo0dmUzcw==')
                    h3 Följ oss
                    p Instagram
            .footer_link
                a(class='button' href='/about')
                    h3 Om oss
                    p Salon Tanova
            .footer_link
                a(class='button' href='https://www.google.com/maps/place/Regementsgatan+58,+217+51+Malmö/@55.5985142,12.9819025,19.75z/data=!4m6!3m5!1s0x4653a6ac7c9efa69:0x3ddb2543336e82b9!8m2!3d55.5984902!4d12.9819711!16s%2Fg%2F11c28vqjc1?entry=ttu')
                    h3 Hitta oss
                    p Vårt läge 
            .footer_link
                a(class='button' href='tel:040420045') 
                    h3 Kontakt
                    p Tel: 040420045
        .footer_ma
            p &copy; 2024 Web development & design by
              a.foLink(href="https://")  STUDIO B



