extends ../index.pug

block variables
  - var template = 'prices'


block content
  .container_fixed 
    img.dalle(data-src="images/shop4red.jpg", alt="Dalle")
    #webgl-container
    //- #prices-container

  .prices(data-background="#fffafa" data-color="#0d0d0d")
    .container
      .prices_content
        .prices_wrapper 
          img.prices_shop(data-src="logo/st_logo.png", alt="large image")
          h1.prices_title PRIS LISTA
          .prices_box.wrapper
            // Klippning Section
            .prices_container_left
              .prices_box
                .box_title
                  h3 Klippning
                  .box_text
                    p Dam: klippning (utan tvätt)
                    | 45 - 60 min, 490 kr
                  .box_text
                    br
                    p Dam: tvätt, klipp & styling
                    | 60 - 90 min, 595 kr
                  .box_text
                    br
                    p Barn klippning 0-14 år
                    | 30 - 45 min, 350 kr
                  .box_text
                    br
                    p Herr: klippning
                    | 30 minuter, 470 kr
                  .box_text
                    br
                    p Herr: klippning m. delvis maskin
                    | 30 minuter, 420 kr
                  .box_text
                    br
                    p Snagging & maskinklipp
                    | 15 - 30 min, 220 kr
                  .box_text
                    br
                    p Lugg
                    | 15 - 30 min, 120 kr

              // Hårfärgning Section
              .prices_box
                .box_title
                  h3 Hårfärgning
                  .box_text
                    p Färg: utväxt/botten & klipp
                    | 120 - 170 min, Från 895 kr
                  .box_text
                    br
                    p Färg: utväxt/ botten färg
                    | 90 - 150 min, Från 695 kr
                  .box_text
                    br
                    p Färg: kort
                    | 90 - 150 min, Från 795 kr
                  .box_text
                    br
                    p Färg: kort & klipp
                    | 120 - 180 min, Från 1 095 kr
                  .box_text
                    br
                    p Färg: mellanlångt
                    | 105 - 165 min, Från 995 kr
                  .box_text
                    br
                    p Färg: mellanlångt & klipp
                    | 120 - 180 min, Från 1 195 kr
                  .box_text
                    br
                    p Färg: långt/extra långt
                    | 120 - 180 min, Från 1 195 kr
                  .box_text
                    br
                    p Färg: långt/extra långt & klipp
                    | 180 - 240 min, Från 1 295 kr

            .prices_container_right
              // Slingor & Balayage Section
              .prices_box
                .box_title
                  h3 Slingor & Balayage
                  .box_text
                    p Bayalage exkl. klippning
                    | 240 minuter, Från 1 695 kr
                  .box_text
                    br
                    p Bayalage ink. klippning
                    | 180 - 240 min, 2 195 kr
                  .box_text
                    br
                    p Folieslingor & klippning
                    | 180 - 290 min, Från 1 695 kr
                  .box_text
                    br
                    p Folieslingor av utväxt & klippning
                    | 180 minuter, Från 1 695 kr
                  .box_text
                    br
                    p Folieslingor (utan klipp)
                    | 150 minuter, Från 1 595 kr

              // Tjanster Section
              .prices_box
                .box_title
                  h3 Tjänster
                  .box_text
                    p Tvätt
                    | 15 - 20 min, 250 kr
                  .box_text
                    br
                    p Tvätt & styling: kort
                    | 40 minuter, 250 kr
                  .box_text
                    br
                    p Nyansering
                    | 45 - 90 min, Varierande pris
                  .box_text
                    br
                    p Tvätt & styling: långt
                    | 45 minuter, 280 kr
                  .box_text
                    br
                    p Inpackningskur Miracle Elixir
                    | 45 - 55 min, 495 kr

              // Fransar & Bryn Section
              .prices_box
                .box_title
                  h3 Fransar & Bryn
                  .box_text
                    p Färg av fransar
                    | 30 minuter, 250 kr
                  .box_text
                    br
                    p Färg av fransar + 
                    |ögonbryn inkl. plock
                    br
                    | 30 minuter, 450 kr
          .prices_text_info
            p 
              | För att vi ska kunna erbjuda alla våra kunder <br>den bästa servicen och undvika tomma tider, <br>har vi följande avbokningsregler:
              | <br>
              | <br>
              | * Avbokning ska ske minst 24 timmar innan bokad tid.
              | <br>
              | * Avbokning kan göras via telefon eller onlinebokning.
              | <br>
              | * Avbokningar via mail accepteras ej.
              | <br>
              | * Vid utebliven tid eller avbokning inom 24 timmar <br>debiteras fullt pris för den bokade behandlingen.
              | <br>
              | <br>
              | Vi ber om din förståelse för dessa regler.
          .prices_btn_wrapper  
            .prices_btn 
              a(href="https://www.bokadirekt.se/places/salong-tanova-56873") Boka tid här

      .footer 
        .footer_box
            .footer_link
                a(class='button' href='https://www.instagram.com/salongtanova?igsh=MTJ1cjRpZWo0dmUzcw==')
                    h3 Följ oss
                    p Instagram
            .footer_link
                a(class='button' href='/about')
                    h3 Om oss
                    p about us
            .footer_link
                a(class='button' href='https://www.google.com/maps/place/Regementsgatan+58,+217+51+Malmö/@55.5985142,12.9819025,19.75z/data=!4m6!3m5!1s0x4653a6ac7c9efa69:0x3ddb2543336e82b9!8m2!3d55.5984902!4d12.9819711!16s%2Fg%2F11c28vqjc1?entry=ttu')
                    h3 Hitta oss
                    p Our location 
            .footer_link
                a(class='button' href='tel:040420045') 
                    h3 Kontakt
                    p Tel: 040420045
        .footer_ma
            p &copy; 2024 Web development & design by STUDIO B @Brank0M

//- block content
//-   .container 
//-     img.dalle(src="images/shop4a.jpg", alt="Dalle")
//-     #webgl-container

//-   .prices 
//-     .prices_content
//-       .prices_wrapper 
//-         img.prices_shop(src="logo/st_logo.png", alt="Shop Logo")
//-         h1.prices_title Pris Lista
//-         .prices_box_wrapper
//-           +prices_section('Klippning', [
//-             { service: 'Dam: klippning (utan tvätt)', info: '45 - 60 min, 350-490 kr' },
//-             { service: 'Dam: tvätt, klipp & styling', info: '60 - 90 min, 395-595 kr' },
//-             { service: 'Barn klippning 0-14 år', info: '30 - 45 min, 290-350 kr' },
//-             { service: 'Herr: klippning', info: '30 minuter, 470 kr' },
//-             { service: 'Herr: klippning m. delvis maskin', info: '30 minuter, 420 kr' },
//-             { service: 'Snagging & maskinklipp', info: '15 - 30 min, 150-220 kr' },
//-             { service: 'Lugg', info: '15 - 30 min, 90-120 kr' }
//-           ])
//-           // ... Repeat for other sections like Hårfärgning, Slingor & Balayage, Tjänster, Fransar & Bryn

//-         .prices_btn_wrapper  
//-           a.prices_btn(href="https://www.bokadirekt.se/places/salong-tanova-56873") Boka tid här

//- mixin prices_section(title, services)
//-   .prices_container
//-     .prices_box
//-       .box_title
//-         h3= title
//-       each item in services
//-         .box_text
//-           p= item.service
//-           | #{item.info}
