extends ../index.pug

block variables
  - var template = 'prices'

block content
  .prices 
    .prices_wrapper 
      h1.product_title Prices

    .prices_content
      .prices_box
        .prices_box_title
          h3 Klippning
        .prices_box_text
          p 
          | Dam: klippning (utan tvätt)
          br
          | 45 - 60 min, 350-490 kr

        .prices_box_title
          h3 Hårfärgning
        .prices_box_text
          p
          | Dam: tvätt, klipp & styling
          br
          | 60 - 90 min, 395-595 kr

        .prices_box_title
          h3 Fransar & Bryn
        .prices_box_text
          p
          |Barn klippning 0-14 år
          br
          | 30 - 45 min, 290-350 kr

        .prices_box_title
          h3 Tjänster
        .prices_box_text
          p
          | Herr: klippning
          br
          | 30 minuter, 470 kr

        .prices_box_title
          h3 Tvätt
        .prices_box_text
          p
          | Herr: klippning m. delvis maskin
          br
          | 30 minuter, 420 kr

        .prices_box_title
          h3 Inpackningskur Miracle Elixir
        .prices_box_text
          p
          | Snagging & maskinklipp
          br
          | 15 - 30 min, 150-220 kr

        .prices_box_title
          h3 Fransar & Bryn
        .prices_box_text
          p
          | Lugg
          br
          | 15 - 30 min, 90-120 kr




 

//-           SALONG TANOVA

//- Prices
//- Boka tjänst
//- Klippning
//- Dam: klippning (utan tvätt)
//- 45 - 60 min, 350-490 kr
//-  · 
//- Mer info
//- Boka
//- Dam: tvätt, klipp & styling
//- 60 - 90 min, 395-595 kr
//-  · 
//- Mer info
//- Boka
//- Barn klippning 0-14 år
//- 30 - 45 min, 290-350 kr
//- Boka
//- Herr: klippning
//- 30 minuter, 470 kr
//-  · 
//- Mer info
//- Boka
//- Herr: klippning m. delvis maskin
//- 30 minuter, 420 kr
//-  · 
//- Mer info
//- Boka
//- Snagging & maskinklipp
//- 15 - 30 min, 150-220 kr
//-  · 
//- Mer info
//- Boka
//- Lugg
//- 15 - 30 min, 90-120 kr
//- Boka
//- Hårfärgning
//- Färg: utväxt/botten & klipp
//- 120 - 170 min, Från 895 kr
//-  · 
//- Mer info
//- Boka
//- Färg: utväxt/ botten färg
//- 90 - 150 min, Från 695 kr
//-  · 
//- Mer info
//- Boka
//- Färg: kort
//- 90 - 150 min, Från 795 kr
//-  · 
//- Mer info
//- Boka
//- Färg: kort & klipp
//- 120 - 180 min, Från 1 095 kr
//-  · 
//- Mer info
//- Boka
//- Färg: mellanlångt
//- 105 - 165 min, Från 995 kr
//-  · 
//- Mer info
//- Boka
//- Färg: mellanlångt & klipp
//- 120 - 180 min, Från 1 195 kr
//-  · 
//- Mer info
//- Boka
//- Färg: långt/extra långt
//- 120 - 180 min, Från 1 195 kr
//-  · 
//- Mer info
//- Boka
//- Färg: långt/extra långt & klipp
//- 180 - 240 min, Från 1 295 kr
//-  · 
//- Mer info
//- Boka
//- Slingor & Balayage
//- Bayalage exkl. klippning
//- 240 minuter, Från 1 695 kr
//-  · 
//- Mer info
//- Boka
//- Bayalage ink. klippning
//- 180 - 240 min, 1 800-2 195 kr
//-  · 
//- Mer info
//- Boka
//- Folieslingor & klippning
//- 180 - 290 min, Från 1 695 kr
//-  · 
//- Mer info
//- Boka
//- Folieslingor av utväxt & klippning
//- 180 minuter, Från 1 695 kr
//-  · 
//- Mer info
//- Boka
//- Folieslingor (utan klipp)
//- 150 minuter, Från 1 595 kr
//-  · 
//- Mer info
//- Boka
//- Tjänster
//- Tvätt
//- 15 - 20 min, 190-250 kr
//-  · 
//- Mer info
//- Boka
//- Tvätt & styling: kort
//- 40 minuter, 250 kr
//-  · 
//- Mer info
//- Boka
//- Nyansering
//- 45 - 90 min, Varierande pris
//-  · 
//- Mer info
//- Boka
//- Tvätt & styling: långt
//- 45 minuter, 280 kr
//-  · 
//- Mer info
//- Boka
//- Inpackningskur Miracle Elixir
//- 45 - 55 min, 395-495 kr
//-  · 
//- Mer info
//- Boka
//- Fransar & Bryn
//- Färg av fransar
//- 30 minuter, 190-250 kr
//-  · 
//- Mer info
//- Boka
//- Färg av fransar + ögonbryn inkl. plock
//- 30 minuter, 330-450 kr
//- Boka
//- Ögonbryns plock
//- 15 minuter, 159-220 kr
//-  · 
//- Mer info
//- Boka
//- Färg av ögonbryn + plock
//- 30 - 50 min, 299-350 kr
//-  · 
//- Mer info
//- Boka
//- Personal